body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
  }
  
  /* Cabeçalho */
  .header {
    position: absolute;
    width: 100%;
    height: 65px;
    background-color: #fff;
    z-index: 1;
  }
  
  /* Background azul da página geral */
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #D7E0EA;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
  }

  /* Botão da Logo */
  .home > button {
    margin-left: 20px;
    padding: 0%;
    width: 55px;
    height: 65px;
    border: none;
    background: transparent;
}

/* fundo azul da página de match */
.backgroundImage {
    position: absolute;
    top: 75px;
    left: 50%;
    margin-left: -45%;
    width: 90%;
    height: 85%;
    border-radius: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(97, 116, 165, 0.20);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 0;
  }
  
  /* match */

 .match{
  position: absolute;
  top: 5%;
  left: 10%;
  width: 35%;
  height: 80%;
  object-fit: cover;
  border-radius: 49px;
  z-index: 0;
 }

  .backgroundImage img {
    position: absolute;
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 49px;
    z-index: 0;
}


/* apresentação */

.apresentacao {
  position: absolute;
  top: 15%;
  left: 71%;
  margin-left: -20%;
  width: 40%;
}

/* Jorge */
 h1 {
    position: absolute;
    top: 15%;
    width: 100%;
    font-family: Roboto;
    font-size: 53.54px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 7.763px;
    text-transform: uppercase;
    text-align: center;
}

/* Características Jorge */
h2 {
    position: absolute;
    top: 100px;
    width: 100%;
    font-family: Roboto;
    font-size: 33.85px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
}

/* Botão do x */
.buttonx {
    position: absolute;
    top: 75%;
    margin-left: -27.5%;
    padding: 0%;
    width: 55px;
    height: 65px;
    border: none;
    background:transparent;
}

/* Botão do coração */
.buttonh {
    position: absolute;
    top: 75%;
    margin-left: -37.5%;
    padding: 0%;
    width: 55px;
    height: 65px;
    border: none;
    background:transparent;
}

/* Botão estrela */
.buttone {
    position: absolute;
    top: 75%;
    margin-left: -17.5%;
    padding: 0%;
    width: 55px;
    height: 65px;
    border: none;
    background:transparent;
}

.buttonChat {
    position: absolute;
    top: 77.75%;
    margin-left: 35%;
    border: none;
    width: 90px;
    height: 90px;
    margin-left: px;
    margin-top: px;
    background-image: url('./Public/images/chat.png');
    background-size: cover;
    background-color: none;
    border-radius: 60%;
}
  

  
 
  
 
  
  