body {
  margin: 0%;
  background-color: #d7e0ea;
}

header {
  width: 100%;
  height: 90px;
  background-color: white;
}

.homeButton {
  border: none;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
  background-image: url("./public/logoPetting.png");
  background-size: cover;
  background-color: white;
}

main {
  height: calc(100vh - 90px);
  display: grid;
  grid-template-columns: auto 33% 1fr auto;
  column-gap: 3%;
  align-items: center;
}

/* CORPO DO SITE */

/* PARTE DA ESQUERDA */

/* PARTE DE CIMA */
.backgroundImageLeft {
  grid-column: 2;
  height: 90%;
  background-color: rgba(97, 116, 165, 0.2);
  border-radius: 40px;
  display: grid;
  grid-template-rows: 120px 1fr 120px;
}
.backgroundImageLeft > #eTopo {
  display: grid;
  grid-template-columns: auto 20% 1fr 20% auto;
  grid-template-rows: 50% 50%;
  column-gap: 5%;
  align-items: center;
}

.backgroundImageLeft > #eTopo > button {
  margin: 0 auto;
  border: none;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-color: transparent;
}

.backButton {
  grid-column: 2;
  background-image: url("./public/returnButton.png");
}

.avatarButton {
  grid-column: 3;
  grid-row: 1 / span 2;
  background-image: url("./public/avatar.png");
}

.engrenagem {
  background-image: url("public/engrenagem.png");
}

/* PARTE DO MEIO */
.backgroundImageLeft > #eMeio {
  display: grid;
  grid-template-rows: 15% 15% 15% 15% 40%;
}

.backgroundImageLeft > #eMeio > input {
  background-color: #d9d9d9;
  border: #aaa 1px solid;
  color: #aaa;
  text-align: center;
}

.backgroundImageLeft > #eMeio > input::placeholder {
  color: #aaa;
}

.backgroundImageLeft > #eMeio > select {
  background-color: #d9d9d9;
  border: #aaa 1px solid;
  color: #aaa;
  text-align: center;
}

/* PARTE DE BAIXO */
.backgroundImageLeft > #eBaixo {
  display: flex;
}

.backgroundImageLeft > #eBaixo > button {
  margin: 5px auto;
  height: 20px;
  border: none;
  background-color: transparent;
  color: red;
}

/* PARTE DA DIREITA */

.backgroundImageRight {
  height: 90%;
  background-color: rgba(97, 116, 165, 0.2);
  border-radius: 40px;
  display: grid;
  grid-template-rows: 60px 1fr 60px;
}

.backgroundImageRight > #faixaTopo {
  background-color: white;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}

.backgroundImageRight > #faixaBaixo {
  background-color: white;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  display: flex;
}

.backgroundImageRight > #upload {
  margin: auto;
  width: 85%;
  height: 80%;
  background-color: #d9d9d9;
  text-align: center;
  color: #aaa;
  display: grid;
  grid-template-rows: auto auto;
  align-content: center;
  align-items: end;
  justify-items: center;
}

.backgroundImageRight > #upload > p {
  margin: 0;
}

.backgroundImageRight > #upload > img {
  width: 80px;
}

.confirma {
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #d9d9d9;
  color: black;
  font-size: 16px;
  cursor: pointer;
  margin: auto;
  height: 30px;
}

input[type="file"] {
  display: none;
}

label {
  position: absolute;
  z-index: 2;

  margin: auto;
  width: 49%;
  height: 55%;
}
